LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_FIRST  "Lucian's Trips to the Moon"
    IDS_SECOND "Lucian of Samosata (c. 125 - after 180) was an Assyrian satirist and rhetorician "
               "who is best known for his characteristic tongue-in-cheek style, with which he "
               "frequently ridiculed superstition, religious practices, and belief in the paranormal."
END
